<!DOCTYPE html>
<html>
        <head>
        <meta charset="utf-8">
        <title> Some Website </title>
    </head>

        <body>
       		<h1> MAINTAINCE MODE </h1>
		<p> The Web Server is under going maintainence, try again later </p>
		{{> footer}}
        </body>
</html>


